langchain
langchain-community
langchain-chroma
pypdf
python-docx
unstructured
sentence-transformers
chromadb
langchain-huggingface
rank_bm25
langchain_groq
pydantic-settings
scikit-learn
fastapi
python-multipart
streamlit
pandas
